TELER_API_KEY=your_teler_api_key

OPENAI_WS_URL=wss://api.openai.com/v1/realtime?model=gpt-realtime
OPENAI_SAMPLE_RATE=16k
OPENAI_API_KEY=your_openai_api_key

PORT=8000
SERVER_DOMAIN=your_fallback_domain
NGROK_AUTHTOKEN=your_ngrok_token
NODE_ENV=production